<!doctype html>
<html lang="">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% if pagetitle %}{{ pagetitle }} |{% endif %} Gulpjs starter kit</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>

    <div id="page">
      <div id="header">
        {% block header %}{% endblock %}
      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      <div id="footer">
      </div>
    </div>

    <script src="js/main.js"></script>
  </body>
</html>